#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=/home/renato/MerdaCraft/UnifilSon/craftbukkit.sh
GenericName[pt_BR]=
GenericName=
Icon=/home/renato/MerdaCraft/icon/5547-256x256x32.png
MimeType=
Name[pt_BR]=
Name=
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
